{% extends 'usersApp/base.html' %}
{% block content %}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="card">
            <div class="card-header">Введите код отправленный на почту</div>
            <div class="card-body">
                <form method="post" action="{{action}}">
                    {% csrf_token %}
                    <input type="text" id="text" name="text">
                    <button type="submit" class="btn btn-success">Подтвердить</button>
                </form>
            </div>
            <div class="card-footer">

                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}