{% extends 'usersApp/base.html' %}

{% block content %}
<div class="container">
    <main>
        <div class="row g-5">

            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">{{question.text}}</h4>

                <form method="post" action="{% url 'surveyApp:answer_create' %}">
                    {% csrf_token %}
                    {{ form.my_choice_field }}
                    {{ form.choice_answer }}
                    <input type="hidden" name="question_id" value="{{ question.pk }}">
                    <button type="submit">Подтвердить</button>
                </form>

            </div>
        </div>
    </main>
</div>
{% endblock %}